div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #3eb2a8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23473b5a' fill-opacity='0.62' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.header {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 60px;
  margin-top: 30px;
}

#scoretimerandresetbutton {
  justify-content: space-evenly;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 30px;
  font-size: 30px;
  height: 75px;
}

.resetbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px 20px;
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:rgb(117, 43, 186);
  background-color: rgb(177, 211, 241);
  border-radius: 40px;
  cursor: pointer;
}

#categoryimages {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 35px;
  font-family: 'Trebuchet MS';
  margin-top: 60px;
  margin-bottom: 40px;
  height: 280px;
}

#categorybuttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 300px;
  height: 75px;
}

.oceansbutton {
  color: rgb(123, 7, 123);
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(56, 135, 76);
  border-radius: 4px;
  cursor: pointer;
  margin-right: 100px;
  width: 140px;
}

.birdsbutton {
  color: rgb(190, 58, 58);
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(38, 57, 181);
  border-radius: 4px;
  cursor: pointer;
  margin-right: 100px;
  width: 100px;
}

.fishbutton {
  color: rgb(9, 93, 9);
  font-size: 25px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(221, 79, 28);
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
}

#truebtn {
  color:rgb(44, 170, 13);
  font-size: 25px;
  width: 100px;
  background-color: snow;
  border-radius: 4px;
  cursor: pointer;
}

#falsebtn {
  color:rgb(28, 79, 231);
  font-size: 25px;
  width: 100px;
  background-color: snow;
  border-radius: 4px;
  cursor: pointer;
}

#trueandfalse {
  display: flex;
  margin-top: 30px;
  width: 200px;
}