div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: solid 2px black; */
}

body {
  background-color: #3eb2a8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23473b5a' fill-opacity='0.62' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.header {
  font-family: 'Times New Roman', Times, serif;
  font-size: 60px;
  margin-top: 30px;
  /* border: solid 2px black; */
}

#scoretimerandresetbutton {
  justify-content: space-evenly;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 30px;
  /* border: solid 2px black; */
  font-size: 30px;
  height: 75px;
}


.resetbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px 20px;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 40px;
  cursor: pointer;
}

#categoryimages {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 60px;
  margin-bottom: 40px;
  /* border: solid 2px black; */
  height: 280px;
}

.oceansimg {
  height: 250px;
  width: 250px;
}

.birdsimg {
  height: 250px;
  width: 250px;
}

.fishimg {
  height: 250px;
  width: 250px;
}

#categorybuttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  height: 75px;
}

.oceansbutton {
  color: blue;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: snow;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 100px;
  width: 100px;
}

.birdsbutton {
  color: red;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: snow;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 100px;
  width: 100px;
}

.fishbutton {
  color: green;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: snow;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
}


#truebtn {
  font-size: 25px;
  width: 100px;
  background-color: snow;
  border-radius: 4px;
  cursor: pointer;
}

#falsebtn {
  font-size: 25px;
  width: 100px;
  background-color: snow;
  border-radius: 4px;
  cursor: pointer;
}

#trueandfalse {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  width: 200px;
  
}































/* h1 {
  display: flex;
  justify-content: center;
  font-size: 50px ;
  /* text-align: center; */
/* }

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 150px;
  

}

.categorybuttons {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
 */




/* h1 {
  text-align: center;
  font-weight: 360;
  font-size: 45px;
  cursor: pointer;
}

h2 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
}

h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#countdown {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.displayfunfacts {
  font-size: 22px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}



.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin: 10px 10px;
  margin-left: auto;
}

div {
  margin: 0px 50px
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#oceans {
  color: blue;
  margin: 30px;
  font-size: 16px;
  background-color: snow;
  border-radius: 4px;
  cursor: pointer;
}

#birds {
  color: red;
  margin: 30px;
  font-size: 16px;
  background-color: snow;
  border-radius: 4px;
  cursor: pointer;
}

#fish {
  color: green;
  margin: 30px;
  font-size: 16px;
  background-color: snow;
  border-radius: 4px;
  cursor: pointer;
}

.trueandfalseoceans {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;

}

#trueocean {
  color: blue;
  font-size: 16px;
  background-color: snow;
  border-radius: 4px;
  cursor: pointer;
}

#falseocean {
  color: blue;
  font-size: 16px;
  background-color: snow;
  border-radius: 4px;
  cursor: pointer;
}

#truebird {
  color: red;
  font-size: 16px;
  background-color: snow;
  border-radius: 4px;
  cursor: pointer;
}

#falsebird {
  color: red;
  font-size: 16px;
  background-color: snow;
  border-radius: 4px;
  cursor: pointer;

}

#truefish {
  color: green;
  font-size: 16px;
  background-color: snow;
  border-radius: 4px;
  cursor: pointer;

}

#falsefish {
  color: green;
  font-size: 16px;
  background-color: snow;
  border-radius: 4px;
  cursor: pointer;
}

.resetbutton {
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px 560px;
  border-radius: 4px;
  cursor: pointer;

}

#resetbutton {
  background-color: snow;
  cursor: pointer;
}