h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin: 10px 10px;
  margin-left: auto;
  

}

div {
  margin: 0px 50px
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* padding: 10px 10px 10px 10px; */
  /* margin:  */

}

#oceans {
  color: blue;
  margin: 30px;
}

#birds {
color:aquamarine;
margin: 30px;

}

#fish {
  margin: 30px
}

/* #trueocean {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

} */



